/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* -------------------------------------------------------------------------------End of Meyer Reset----------------------------------------------------------------------------------------- */
@import url('https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');

body {
	font-family: 'Arvo';
}

.nav-container {
	width: 100%;
	min-height: 100px;
	display: flex;
	border-bottom: 2px solid black;
	justify-content: space-between;
	align-items: center;
	background-color: #014421;
	color: #ED5005;
	font-weight: bold;
	letter-spacing: 1px;
}

.nav-container h1 {
	margin-left: 6%;
	font-size: 2em;
}

.nav-container nav {
	margin-right: 6%;
}

.nav-container ul {
	display: flex;
	justify-content: space-evenly;
}

.nav-container span {
	margin-right: 4%;
	margin-left: 6%;
}

.nav-container li {
	width: 80px;
	text-decoration: none;
	/* color: #ED5005; */
}

.nav-container span {
	color: black;
}

.nav-container li:hover {
	cursor: pointer;
	color: white;
}

.landing-container {
	background-image: url("https://www.doi.gov/sites/doi.gov/files/blog-post/thumbnail-images/glaciernpshanlin.jpg");
	background-size: cover;
	height: 80vh;
	border-bottom: 2px solid black;
}

.landing-container h1 {
	text-align: center;
	color: #ED5005;
	font-size: 40px;
	padding-top: 2%;
	font-weight: bold;
}

.landing-container .title {
	font-size: 62px;
	margin-top: -2%;
}

.landing-info {
	display: flex;
	align-items: center;
}

.landing-info .landing-img {
	border-right: 1px solid black;
	width: 50vw;
	image-resolution: from-image;
}

.landing-info p {
	margin-top: 5%;
	width: 70%;
	text-align: center;
	margin-left: 14%;
	line-height: 30px;
	font-size: 26px;
}

.p-title {
	margin-top: -8%;
	font-size: 34px;
	font-weight: bold;
	text-align: center;
}

.p-content span {
	text-decoration: underline;
	font-weight: bold;
	color: #ED5005;
	margin-left: 1%;
	margin-right: 1%;
}

.landing-info .cta-button {
	margin-top: 6%;
	margin-left: 28%;
	font-family: 'Arvo';
	width: 100px;
	height: 40px;
	background-color: #014421;
	color: #ED5005;
	font-size: 16px;
	font-weight: bold;
	border-radius: 6px;
	cursor: pointer;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  	transition: all 0.3s ease 0s;
	outline: none;
}

.landing-info .cta2-button {
	margin-top: 6%;
	margin-left: 24%;
	font-family: 'Arvo';
	width: 100px;
	height: 40px;
	background-color: #014421;
	color: #ED5005;
	font-size: 16px;
	font-weight: bold;
	border-radius: 6px;
	cursor: pointer;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  	transition: all 0.3s ease 0s;
	outline: none;
}

.landing-info button:hover {
	color: #fff;
	transform: translateY(-7px);
}

.search-container {
	width: 100%;
	height: 130px;
	border-bottom: 1px solid black;
}

.trip-container .search-container h1 {
	text-align: center;
	font-size: 32px;
	padding-top: 2%;
	font-weight: bold;
}

.search-container h1 {
	text-align: center;
	font-size: 32px;
	padding-top: 1%;
	font-weight: bold;
}

.search-container input {
	border-bottom: 1px solid black;
	display: block;
	margin: 1% auto;
	width: 18%;
}

.search-container input:focus {
	outline: none;
}

.search-container input::placeholder {
	text-align: center;
}

.search-container button {
	float: right;
	margin-top: -4%;
	margin-right: 5%;
	background-color: #014421;
	border: 1px solid black;
	width: 90px;
	height: 40px;
	color:#ED5005;
	border-radius: 6px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  	transition: all 0.3s ease 0s;
	font-weight: bold;
}

.search-container button:hover {
	color: #fff;
	transform: translateY(-2px);
}

.left-image {
	border-bottom: 1px solid black;
	display: flex;
	max-height: 500px;
	width: 100%;
	margin-top: 1;
}

.left-image .img {
	width: 50%;
}

.left-image img {
	max-height: 100%;
	height: 100%;
	width: 100%;
}

.left-image .text {
	margin: 2% auto;
	text-align: center;
	width: 50%;
	overflow: auto;
}

.left-image .text h1 {
	font-size: 32px;
	font-weight: bold;
}

.left-image .text p {
	width: 34%;
	margin: 2% auto;
	line-height: 30px;
}

.left-image .text button {
	margin-top: 1%;
	background-color: #014421;
	border: 1px solid black;
	width: 90px;
	height: 40px;
	color:#ED5005;
	border-radius: 6px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  	transition: all 0.3s ease 0s;
	font-weight: bold;
}

.left-image .text button:hover {
	color: #fff;
	transform: translateY(-2px);
}

.left-image .bottom-content {
	display: flex;
	margin-top: 5%;
}

.right-image .img {
	width: 50%;
	float: right;
}

.right-image img {
	float: right;
	width: 100%;
	height: 520px;
}

.right-image .text {
	padding: auto;
	padding-top: 4%;
	text-align: center;
	width: 50%;
}

.right-image .text h1 {
	font-size: 32px;
	font-weight: bold;
}

.right-image .text p {
	width: 34%;
	margin: 2% auto;
	line-height: 30px;
}

.right-image .text button {
	margin-top: 2%;
	background-color: #014421;
	border: 1px solid black;
	width: 90px;
	height: 40px;
	color:#ED5005;
	border-radius: 6px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  	transition: all 0.3s ease 0s;
	font-weight: bold;
}

.right-image .text button:hover {
	color: #fff;
	transform: translateY(-2px);
}

.right-image .bottom-content {
	display: flex;
	margin-top: 12%;
	margin-bottom: -12%;
}

.favorite-columns h1 {
	font-size: 32px;
	margin-top: 2%;
}

.favorite-columns .visited {
	text-align: center;
	min-height: 100%;
	display: flex;
	flex-wrap: wrap;
}

.favorite-columns .card {
	width: 20%;
	margin: 4% auto;
	border: 1px solid #014421;
	height: 400px;
	background-color: #014421;
	color: #ED5005;
	border-radius: 6px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
	margin-bottom: 4%;
	margin-left: 8%;
}

.favorite-columns .card h2 {
	margin-top: 4%;
	font-size: 22px;
}

.favorite-columns .card img {
	height: 200px;
	width: 100%;
}

.favorite-columns .card button {
	margin-top: 12%;
	background-color: #455b46;
	border: 1px solid white;
	width: 90px;
	height: 40px;
	color:#ED5005;
	border-radius: 6px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  	transition: all 0.3s ease 0s;
	font-weight: bold;
}

.favorite-columns .card button:hover {
	color: #fff;
	transform: translateY(-2px);
}

.bg-image {
	background-image: url('https://www.doi.gov/sites/doi.gov/files/blog-post/thumbnail-images/glaciernpshanlin.jpg');
	width: 100%;
	height: 100vh;
	background-size: cover;
	position: absolute;
}

.form {
	text-align: center;
	margin: 6% auto;
	border: 1px solid black;
	width: 40%;
	height: 600px;
	border-radius: 6px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
	background-color: #014421;
	color: #ED5005;
}

.form h1 {
	margin-top: 4%;
	font-size: 30px;
}

.form-container {
	display: flex;
	flex-direction: column;
	width: 40%;
	margin: 2% auto;
}

.form-container span {
	margin-bottom: 1%;
}

.form-container input {
	margin-bottom: 6%;
	height: 30px;
	text-align: center;
}

.form-container .form-button {
	display: flex;
	justify-content: space-between;
}

.form-container button {
	margin-top: 4%;
	/* width: 100%;
	margin-left: 17%;
	float: left; */
	background-color: #455b46;
	border: 1px solid white;
	width: 100px;
	height: 40px;
	color:#ED5005;
	border-radius: 6px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  	transition: all 0.3s ease 0s;
	font-weight: bold;
}

.form button:hover {
	color: #fff;
	transform: translateY(-2px);
}


.form2 {
	text-align: center;
	margin: 12% auto;
	border: 1px solid black;
	width: 40%;
	height: 400px;
	border-radius: 6px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
	background-color: #014421;
	color: #ED5005;
}

.form2 h1 {
	margin-top: 4%;
	font-size: 30px;
}

.form2 button {
	margin-top: 4%;
	margin-left: 7%;
	margin-right: 7%;
	background-color: #455b46;
	border: 1px solid white;
	width: 100px;
	height: 40px;
	color:#ED5005;
	border-radius: 6px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  	transition: all 0.3s ease 0s;
	font-weight: bold;
}

.form2 button:hover {
	color: #fff;
	transform: translateY(-2px);
}

.paginate {
	width: 100%;
}

.pagination {
	text-align: center;
	display: flex;
	justify-content: center;
	margin: 1% auto;
	font-size: 20px;
}

.pagination h1 {
	margin-top: .3%;
}

.page-item {
	margin-left: .6%;
	cursor: pointer;
	color: #ED5005;
	border: 1px solid black;
	width: 2%;
	padding: .2%;
	border-radius: 4px;
	background-color: rgba(1, 68, 33, 0.4);
}

.page-item:hover {
	color: white;
}

.trip-form {
	background-image: url('https://www.doi.gov/sites/doi.gov/files/blog-post/thumbnail-images/glaciernpshanlin.jpg');
	width: 100%;
	height: 100vh;
	background-size: cover;
	position: absolute;
}

.trip-form h1 {
	text-align: center;
	margin-top: 2%;
	font-size: 38px;
	color: #ED5005;
	font-weight: bold;
}

.trip-form form{
	display: flex;
	width: 30%;
	margin: 6% auto;
	flex-direction: column;
	border: 1px solid black;
	border-radius: 6px;
	padding: 2%;
	background-color: #014421;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4)
}

.trip-form form input {
	margin-bottom: 4%;
	border-bottom: 1px solid black;
	height: 40px;
}

.trip-form p {
	margin-bottom: 6%;
	text-align: center;
	font-size: 24px;
	color: #ED5005;
}

.trip-form button {
	margin: 0 auto;
	background-color: #455b46;
	border: 1px solid white;
	width: 100px;
	height: 40px;
	color:#ED5005;
	border-radius: 6px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  	transition: all 0.3s ease 0s;
	font-weight: bold;
}

.trip-form button:hover {
	color: #fff;
	transform: translateY(-2px);
}